/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cxBaVr { margin: 0px; }
.cxBaVr > div { display: flex; position: relative; }
.cxBaVr.mailchimp--vertical div { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
.cxBaVr input[name="name"] ~ input[name="email"] { margin-left: 10px; }
.cxBaVr.mailchimp--vertical input:first-of-type + input { margin: 10px 0px 0px; }
.cxBaVr.mailchimp--vertical button { width: 100%; margin-top: 10px; }
.cxBaVr input, .cxBaVr button { height: 40px; padding: 0px 20px; line-height: 40px; border-radius: 0px; box-sizing: border-box; box-shadow: none !important; outline: none !important; }
.cxBaVr.cxBaVr button { border: none; background-color: rgb(45, 45, 45); color: rgb(255, 255, 255); font-size: 13px; flex: 0 0 auto; margin-left: -1px; width: auto; }
.cxBaVr button > i + span { margin-left: 10px; }
.cxBaVr input { width: 100%; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-c0ec55de {
		margin-top: 0px;
		 margin-bottom: 5px;
		 color: rgb(125, 100, 86);
		 font-family: Poppins;
		 font-size: 20px;
		 letter-spacing: 4px;
		 font-weight: 600;
	}
	.__pf .pf-be140fc2 {
		font-family: "PT Serif";
		 font-size: 50px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-0fc2e07b {
		text-align: center;
	}
	.__pf .pf-dd1a0654 {
		padding-top: 75px;
		 padding-bottom: 75px;
	}
	.__pf .pf-06549a4e {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-720c4154 {
		font-family: "PT Serif";
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-f98cd50a {
		font-size: 16px;
		 font-family: Poppins;
		 margin-top: 0px;
		 margin-bottom: 10px;
	}
	.__pf .pf-cbdfecb0 {
		font-size: 16px;
		 font-family: Poppins;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-ecb04ba5 {
		padding-left: 10%;
		 padding-right: 10%;
	}
	.__pf .pf-4ba53fcb {
		margin-bottom: 80px;
	}
	.__pf .pf-974c7856 {
		font-family: "PT Serif";
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-00ca48b5 {
		font-size: 16px;
		 font-family: Poppins;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-48b55727 {
		padding-left: 10%;
		 padding-right: 10%;
	}
	.__pf .pf-572770d1 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-675e7460 {
		margin-bottom: 80px;
	}
	.__pf .pf-7460d403 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-2a9aa717 {
		font-family: "PT Serif";
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-6af3dac0 {
		font-size: 16px;
		 font-family: Poppins;
	}
	.__pf .pf-dac09884 {
		padding-left: 10%;
		 padding-right: 10%;
	}
	.__pf .pf-ed86acc2 {
		background-color: rgb(255, 249, 243);
		 padding-top: 80px;
		 padding-bottom: 80px;
	}
	.__pf .pf-d0778bc7 {
		text-align: center;
	}
	.__pf .pf-7a00bdb1 {
		text-align: center;
	}
	.__pf .pf-c06fa9cd {
		font-family: "PT Serif";
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 color: rgb(51, 51, 51);
		 line-height: 1em;
	}
	.__pf .pf-8c838823 {
		font-size: 16px;
		 font-family: Poppins;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-93b4ba00 {
		margin-bottom: 70px;
	}
	.__pf .pf-40e4745f {
		text-align: center;
	}
	.__pf .pf-30e8a694 {
		font-family: "PT Serif";
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 color: rgb(51, 51, 51);
		 line-height: 1em;
	}
	.__pf .pf-df006d37 {
		font-size: 16px;
		 font-family: Poppins;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-54fff116 {
		margin-bottom: 70px;
	}
	.__pf .pf-917f31ec {
		text-align: center;
	}
	.__pf .pf-666a4dcb {
		font-family: "PT Serif";
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 color: rgb(51, 51, 51);
		 line-height: 1em;
	}
	.__pf .pf-89e1670d {
		font-size: 16px;
		 font-family: Poppins;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-33d2e1c8 {
		margin-bottom: 70px;
	}
	.__pf .pf-832a5224 {
		background-color: rgb(125, 100, 86);
		 color: rgb(255, 255, 255);
		 font-family: Poppins;
		 padding: 15px 35px;
	}
	.__pf .pf-832a5224:hover {
		background-color: rgb(92, 73, 62);
	}
	.__pf .pf-52243234 {
		padding-left: 100px;
	}
	.__pf .pf-87920771 {
		padding-top: 75px;
		 padding-bottom: 75px;
	}
	.__pf .pf-08e4627d {
		font-family: "PT Serif";
		 font-size: 30px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 color: rgb(252, 252, 252);
		 line-height: 1em;
	}
	.__pf .pf-2c010519 {
		font-size: 16px;
		 font-family: Poppins;
		 margin-top: 0px;
		 margin-bottom: 40px;
		 color: rgb(250, 250, 250);
	}
	.__pf .pf-051910c5 > div > button {
		font-family: Poppins;
		 font-size: 16px;
		 background-color: rgb(125, 100, 86);
	}
	.__pf .pf-051910c5 > div > input {
		font-family: Poppins;
		 font-size: 16px;
	}
	.__pf .pf-10c55f6b {
		padding-left: 270px;
		 padding-right: 270px;
	}
	.__pf .pf-5f6bfa30 {
		text-align: center;
	}
	.__pf .pf-fa30b524 {
		padding-top: 75px;
		 padding-bottom: 75px;
		 background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-657fcb6b--Atam-08.png?v=1585095678");
		 background-position: 0% 0%;
		 background-size: cover;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-c0ec55de {
		font-size: 16px;
	}
	.__pf .pf-be140fc2 {
		font-size: 40px;
	}
	.__pf .pf-dd1a0654 {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-720c4154 {
		font-size: 26px;
	}
	.__pf .pf-ecb04ba5 {
		padding-left: 15px;
		 padding-right: 15px;
	}
	.__pf .pf-4ba53fcb {
		margin-bottom: 30px;
	}
	.__pf .pf-974c7856 {
		font-size: 26px;
	}
	.__pf .pf-48b55727 {
		padding-left: 15px;
		 padding-right: 15px;
	}
	.__pf .pf-675e7460 {
		display: flex;
		 flex-flow: column-reverse nowrap;
		 align-items: stretch;
		 margin-bottom: 30px;
	}
	.__pf .pf-2a9aa717 {
		font-size: 26px;
	}
	.__pf .pf-dac09884 {
		padding-left: 15px;
		 padding-right: 15px;
	}
	.__pf .pf-ed86acc2 {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-d0778bc7 {
		margin-bottom: 30px;
	}
	.__pf .pf-8bc77a00 {
		width: 60px;
		 height: 37px;
	}
	.__pf .pf-c06fa9cd {
		font-size: 26px;
	}
	.__pf .pf-93b4ba00 {
		margin-bottom: 30px;
	}
	.__pf .pf-ba0040e4 {
		width: 60px;
		 height: 34px;
	}
	.__pf .pf-30e8a694 {
		font-size: 26px;
	}
	.__pf .pf-54fff116 {
		margin-bottom: 30px;
	}
	.__pf .pf-f116917f {
		width: 51px;
		 height: 51px;
	}
	.__pf .pf-666a4dcb {
		font-size: 26px;
	}
	.__pf .pf-33d2e1c8 {
		margin-bottom: 30px;
	}
	.__pf .pf-52243234 {
		padding-left: 0px;
	}
	.__pf .pf-87920771 {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-08e4627d {
		font-size: 26px;
	}
	.__pf .pf-10c55f6b {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-fa30b524 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-657fcb6b--Atam-08.png?v=1585095678");
		 padding-top: 30px;
		 padding-bottom: 30px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-fa30b524 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-657fcb6b--Atam-08.png?v=1585095678");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-c06fa9cd {
		font-size: 24px;
	}
	.__pf .pf-30e8a694 {
		font-size: 24px;
	}
	.__pf .pf-666a4dcb {
		font-size: 24px;
	}
	.__pf .pf-52243234 {
		padding-left: 0px;
	}
	.__pf .pf-10c55f6b {
		padding-left: 100px;
		 padding-right: 100px;
	}
	.__pf .pf-fa30b524 {
		background-image: url("https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-657fcb6b--Atam-08.png?v=1585095678");
	}
}
						